.slider {
    background: #323232;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
}
.slider__photos {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 50%;
}
.slider__photos > img {
    height: 100%;
}
.slider__about {
    padding: 50px;
    width: 50%;
    color: white;
    overflow: hidden;
    position: relative;
}
.slider__photo_list {
    -webkit-transition: 130ms ease;
    -moz-transition: 130ms ease;
    -ms-transition: 130ms ease;
    -o-transition: 130ms ease;
    transition: 130ms ease;
    position: relative;
    flex-direction: row;
    display: flex;
}
.slider__image {
    width: 100%;
    height: 450px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 2;
    overflow: hidden;
}
.slider__image > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}
.slider__list {
    display: flex;
    padding: 0;
    position: relative;
    z-index: 0;
    margin: 0;
    -webkit-transition: 130ms ease;
    -moz-transition: 130ms ease;
    -ms-transition: 130ms ease;
    -o-transition: 130ms ease;
    transition: 130ms ease;
}
.slider__slide {
    position: relative;
    color: #fff;
    overflow: hidden;
    line-height: 1.5;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    list-style-type: none!important;
    margin: 0;
    flex-shrink: 0;
}
.slider__slide.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 1200ms ease;
    -moz-transition: all 1200ms ease;
    -ms-transition: all 1200ms ease;
    -o-transition: all 1200ms ease;
    transition: all 1200ms ease;
}
.slider__buttons {
    right: 50px;
    position: absolute;
    bottom: -25px;
    display: flex;
}
.slider__button {
    padding: 20px;
    display: flex;
    border: 0px;
    justify-content: center;
    align-items: center;
    background: #4d4d4d;
    color: #fff;
    fill: #fff;
    transition: all 130ms ease;
}
.slider__button:hover {
    cursor: pointer;
    background: #f0f0f0;
    color: #323232;
    fill: #323232;
    transition: all 130ms ease;
}
.slider__dots {
    left: 20px;
    position: absolute;
    bottom: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__dot {
    width: 10px;
    height: 10px;
    background: #4d4d4d;
    border-radius: 50%;
    transition: all 130ms ease;
}
.slider__dot:hover {
    cursor: pointer;
    background: #7f7f7f;
}
.slider__dot.active {
    border: 2px solid #4d4d4d;
    padding: 5px;
    background: none;
    transition: all 130ms ease;
}
.slider__dot_container {
    width: 30px;
    justify-content: center;
    height: 30px;
    display: flex;
    align-items: center;
}

@media (max-width: 1100px) {
    .slider {
        flex-direction: column;
        .slider__photos,
        .slider__about {
            width: unset;
        }
    }
    .slider__slide {
        h3 {
            margin: 0px;
            padding: 0px;
        }
    }
    .slider__image {
        max-height: 400px;
    }
    .slider__dots {
        bottom: -75px;
        flex-wrap: wrap;
    }
}